@model CRUDMVCWebApplication.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(s => s.Id)

        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                @Html.LabelFor(s => s.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="FirstName" name="FirstName" type="text" value="@ViewData.Model.FirstName"/>
                @Html.LabelFor(s => s.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="LastName" name="LastName" type="text" value="@ViewData.Model.LastName" />
                @Html.LabelFor(s => s.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="EmailId" name="EmailId" type="text" value="@ViewData.Model.EmailId" />
                @Html.LabelFor(s => s.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="Address" name="Address" type="text" value="@ViewData.Model.Address" />
                @Html.LabelFor(s => s.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="text" value="@ViewData.Model.PhoneNumber" />
                @Html.LabelFor(s => s.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <input class="form-control" id="Department" name="Department" type="text" value="@ViewData.Model.Department" />
.
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
